In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql. functions import col, expr, mean, corr

In [3]:
spark = SparkSession.builder.appName("EjemploOperacionesPySpark").getOrCreate()

In [11]:
data =[( "jose", 23, 1500), ("elizabeth", 45, 2500), ("marcos", 23, 2200), ("rumy", 34, 1800), ("manuel", 45, 2100), ("petter", 23, 1900), ("claudio", 30, 1700), ("henry", 34, 2000), ("maria",45, 2300), ("gustabo",23, 2400)]
columns = ["Nombre", "Edad", "Ingreso"]
variable = spark.createDataFrame(data, columns)

In [12]:
variable.select(mean(col("Edad")).alias("Media")).show()

+-----+
|Media|
+-----+
| 32.5|
+-----+