In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql. functions import col, expr, mean, corr

In [3]:
spark = SparkSession.builder.appName("EjemploOperacionesPySpark").getOrCreate()

In [15]:
data =[( "jose", 3, 1500), ("elizabeth", 1, 2500), ("marcos", 2, 2200), ("rumy", 4, 1800), ("manuel", 4, 2100), ("petter", 2, 1900), ("claudio", 3, 1700), ("henry", 3, 2000), ("maria", 2, 2300), ("gustabo", 3, 2400)]
columns = ["Nombre", "Hijos", "Ingreso"]
variable = spark.createDataFrame(data, columns)

In [16]:
variable.select(mean(col("Hijos")).alias("Media")).show()

+-----+
|Media|
+-----+
|  2.7|
+-----+

In [17]:
var_mediana = variable.approxQuantile("Hijos", [0.5], 0.0)

In [18]:
print("la mediana es:", var_mediana)

la mediana es: [3.0]